services:
  # 1. App Adonis của bạn
  app:
    build: .
    restart: unless-stopped
    ports:
      - "3333:3333"
    environment:
      - TZ=Asia/Ho_Chi_Minh
      - PORT=3333
      - HOST=0.0.0.0
      - NODE_ENV=production
      - APP_KEY=${APP_KEY}
      # Kết nối MySQL (service tên là 'mysql')
      - DB_CONNECTION=mysql
      - DB_HOST=mysql
      - DB_PORT=3306
      - DB_USER=root
      - DB_PASSWORD=root
      - DB_DATABASE=kidmanager
      # Kết nối Redis (service tên là 'redis')
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - SESSION_DRIVER=redis
    depends_on:
      mysql:
        condition: service_healthy
      redis:
        condition: service_healthy

  # 2. Database MySQL (Tự tải về)
  mysql:
    image: mysql:8.0
    cap_add:
      - SYS_NICE
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: kidmanager
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

  # 3. Redis (Tự tải về)
  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  mysql_data:
  redis_data:
